[package]
edition = "2018"

authors = ["Daniel Egger <daniel@eggers-club.de>"]
categories = [
    "embedded",
    "hardware-support",
    "no-std",
]
description = "Peripheral access API for STM32F4 series microcontrollers"
documentation = "https://docs.rs/stm32f4xx-hal"
keywords = [
    "arm",
    "cortex-m",
    "stm32f4xx",
    "hal",
]
license = "0BSD"
name = "stm32f4xx-hal"
readme = "README.md"
repository = "https://github.com/stm32-rs/stm32f4xx-hal"
version = "0.8.3"

[package.metadata.docs.rs]
features = ["stm32f429", "rt", "usb_fs", "can"]
targets = ["thumbv7em-none-eabihf"]

[dependencies]
bxcan = { version = ">=0.4, <0.6", optional = true }
cortex-m = "0.7"
cortex-m-rt = "0.6.10"
nb = "1"
rand_core = "0.6"
rtcc = "0.2"
stm32f4 = "0.13"
synopsys-usb-otg = { version = "0.2.0", features = ["cortex-m"], optional = true }
sdio-host = { version = "0.5.0", optional = true }
embedded-dma = "0.1.2"
bare-metal = { version = "1" }
cast = { default-features = false, version = "0.2.2" }
void = { default-features = false, version = "1.0.2" }
embedded-hal = { features = ["unproven"], version = "0.2.3" }

[dev-dependencies]
panic-semihosting = "0.5.3"
cortex-m-semihosting = "0.3.3"
arrayvec = { version = "0.5.1", default-features = false }
panic-halt = "0.2.0"
ssd1306 = "0.4"
embedded-graphics = "0.6.2"
usb-device = "0.2.5"
usbd-serial = "0.1.0"
micromath = "1.0.0"

[features]
device-selected = []
rt = ["stm32f4/rt"]
# Note: stm32f4 has only one feature for some very similar device families,
# so it's intended for e.g. stm32f405/415 to both enable stm32f4/stm32f405.
stm32f401 = ["stm32f4/stm32f401", "device-selected"]
stm32f405 = ["stm32f4/stm32f405", "device-selected"]
stm32f407 = ["stm32f4/stm32f407", "device-selected"]
stm32f410 = ["stm32f4/stm32f410", "device-selected"]
stm32f411 = ["stm32f4/stm32f411", "device-selected"]
stm32f412 = ["stm32f4/stm32f412", "device-selected"]
stm32f413 = ["stm32f4/stm32f413", "device-selected"]
stm32f415 = ["stm32f4/stm32f405", "device-selected"]
stm32f417 = ["stm32f4/stm32f407", "device-selected"]
stm32f423 = ["stm32f4/stm32f413", "device-selected"]
stm32f427 = ["stm32f4/stm32f427", "device-selected"]
stm32f429 = ["stm32f4/stm32f429", "device-selected"]
stm32f437 = ["stm32f4/stm32f427", "device-selected"]
stm32f439 = ["stm32f4/stm32f429", "device-selected"]
stm32f446 = ["stm32f4/stm32f446", "device-selected"]
stm32f469 = ["stm32f4/stm32f469", "device-selected"]
stm32f479 = ["stm32f4/stm32f469", "device-selected"]

usb_fs = ["synopsys-usb-otg", "synopsys-usb-otg/fs"]
usb_hs = ["synopsys-usb-otg", "synopsys-usb-otg/hs"]

can = ["bxcan"]

sdio = ["sdio-host"]

[profile.dev]
debug = true
lto = true

[profile.release]
debug = true
lto = true
opt-level = "s"

[[example]]
name = "blinky-timer-irq"
required-features = ["rt", "stm32f411"]

[[example]]
name = "usb_serial"
required-features = ["rt", "stm32f401", "usb_fs"]

[[example]]
name = "sd"
required-features = ["rt", "stm32f405", "sdio"]

[[example]]
name = "delay-blinky"
required-features = ["rt", "stm32f411"]

[[example]]
name = "dwt-blinky"
required-features = ["rt", "stm32f429"]

[[example]]
name = "ssd1306-image"
required-features = ["rt", "stm32f411"]

[[example]]
name = "stopwatch-with-ssd1306-and-interrupts"
required-features = ["rt", "stm32f411"]

[[example]]
name = "analog-stopwatch-with-spi-ssd1306"
required-features = ["rt", "stm32f429"]

[[example]]
name = "rng-display"
required-features = ["rt", "stm32f407"]

[[example]]
name = "qei"
required-features = ["rt", "stm32f411"]

[[example]]
name = "can-send"
required-features = ["can", "stm32f405"]
