[package]
authors = ["Daniel Egger <daniel@eggers-club.de>"]
categories = [
    "embedded",
    "hardware-support",
    "no-std",
]
description = "Peripheral access API for STM32F4 series microcontrollers"
documentation = "https://docs.rs/stm32f4xx-hal"
keywords = [
    "arm",
    "cortex-m",
    "stm32f4xx",
    "hal",
]
license = "0BSD"
name = "stm32f4xx-hal"
readme = "README.md"
repository = "https://github.com/therealprof/stm32f4xx-hal"
version = "0.2.2"

[dependencies]
cortex-m = "0.5.7"
cortex-m-rt = "0.6.5"
nb = "0.1.1"

[dependencies.bare-metal]
version = "0.2.3"
features = ["const-fn"]

[dependencies.cast]
default-features = false
version = "0.2.2"

[dependencies.embedded-hal]
features = ["unproven"]
version = "0.2.1"

[dependencies.stm32f4]
features = [
    "rt",
]
version = "0.3.2"

[features]
default = ["rt", "stm32f407"]
rt = []
stm32f401 = ["stm32f4/stm32f401"]
stm32f407 = ["stm32f4/stm32f407"]
stm32f429 = ["stm32f4/stm32f429"]

[profile.dev]
debug = true
lto = true

[profile.release]
debug = true
lto = true
opt-level = "s"
