[package]
edition = "2018"

authors = ["Daniel Egger <daniel@eggers-club.de>"]
categories = [
    "embedded",
    "hardware-support",
    "no-std",
]
description = "Peripheral access API for STM32F4 series microcontrollers"
documentation = "https://docs.rs/stm32f4xx-hal"
keywords = [
    "arm",
    "cortex-m",
    "stm32f4xx",
    "hal",
]
license = "0BSD"
name = "stm32f4xx-hal"
readme = "README.md"
repository = "https://github.com/stm32-rs/stm32f4xx-hal"
version = "0.4.0"

[package.metadata.docs.rs]
features = ["stm32f429", "rt"]

[dependencies]
cortex-m = "0.6.0"
cortex-m-rt = "0.6.8"
nb = "0.1.1"
stm32f4 = "0.6.0"

[dependencies.bare-metal]
version = "0.2.4"
features = ["const-fn"]

[dependencies.cast]
default-features = false
version = "0.2.2"

[dependencies.void]
default-features = false
version = "1.0.2"

[dependencies.embedded-hal]
features = ["unproven"]
version = "0.2.2"

[features]
device-selected = []
rt = ["stm32f4/rt"]
stm32f401 = ["stm32f4/stm32f401", "device-selected"]
stm32f405 = ["stm32f4/stm32f405", "device-selected"]
stm32f407 = ["stm32f4/stm32f407", "device-selected"]
stm32f410 = ["stm32f4/stm32f410", "device-selected"]
stm32f411 = ["stm32f4/stm32f411", "device-selected"]
stm32f412 = ["stm32f4/stm32f412", "device-selected"]
stm32f413 = ["stm32f4/stm32f413", "device-selected"]
stm32f415 = ["stm32f4/stm32f405", "device-selected"]
stm32f417 = ["stm32f4/stm32f407", "device-selected"]
stm32f423 = ["stm32f4/stm32f413", "device-selected"]
stm32f427 = ["stm32f4/stm32f427", "device-selected"]
stm32f429 = ["stm32f4/stm32f429", "device-selected"]
stm32f437 = ["stm32f4/stm32f427", "device-selected"]
stm32f439 = ["stm32f4/stm32f429", "device-selected"]
stm32f446 = ["stm32f4/stm32f446", "device-selected"]
stm32f469 = ["stm32f4/stm32f469", "device-selected"]
stm32f479 = ["stm32f4/stm32f469", "device-selected"]

[profile.dev]
debug = true
lto = true

[profile.release]
debug = true
lto = true
opt-level = "s"
